II_Anno/Secondo_Semestre/TSW - Francese/Slide/2022-23/L10 - XML/xmlr/dbschema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="db">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="last" type="xs:string" />
              <xs:element name="first" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="idnum" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>